  .home{
    padding-top: 80px;
    .toolbar{
      transform: translateY(0);
      transition: all 200ms;      
      top:-70px;
      background-color: var(--md-theme-default-primary);
      height: 69px;
      -box-shadow: 0 2px 3px -1px rgba(0,0,0,.1);
      &.exited {
        transform: translateY(69px);            
      }

      .toolbar-title{
        img.logo{
          width: 60px;
          transform: translateY(-25px);
          margin-top: 25px;
        }
      }
    }


    .backtop{
      width: 48px;
    }
  }

  .md-elevation-4 {
    box-shadow: none;
  }

  .user {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    svg {
      width: 30%;
      color: var(--theme-1-primary);            
    }
    h2{
      text-transform: uppercase;
    }
  }



  .module {    
    margin-bottom: 100px;
    margin-top: 50px;  
    text-align: left;
    padding-top: 30px;
    position: relative;
    @media (min-width:426px) {
      padding-bottom:100px;
    }

    .top-wave, .bottom-wave {
      width: 100%;
      position: absolute;
      overflow: visible;
      left: 0;
      top: -20px;
      z-index: -1;      
      @media (min-width:426px) {
        top:-50px;
      }
  
    }
    .bottom-wave {
      top: inherit;
      margin-top: -20px;
    }

    >.title {
      color: #111;
      text-transform: uppercase;
      padding-left: 10px;      
      font-weight: 700;
      line-height: 13px;
      font-size: 14px;      
      margin-top: 5px;
    }
    >.subtitle{
      color: #111;
      padding-left: 10px;      
      font-weight: 200;
      font-size: 11px;
      margin-top: 5px;      
    }

    .lesson {
      min-height:  100px;
      border: 1px solid #eee;
      border-radius: 10px;
      color: #111;
      background-color: rgba(255,255,255,0.90);
      &.done {
        opacity: .3;
      }
      
      .type {
        opacity: .99;
        width: 28px;
        margin: 5px;
        margin-right: 5px;
        margin-left: auto;        
      }
      .title{
        line-height: 14px;
        font-size: 13px;
        font-weight: 400;
        padding: 2px 10px;        
        padding-bottom: 20px;
      }
      .cover{
        width: 50%;
        position: relative;
        margin-top: -10px;
      }
    }
  }


  .masonry-with-columns {
    columns: 6 140px;
    column-gap: 1rem;
    padding: 10px;
    padding-top: 20px;
    >div.lesson {
      width: 150px;
      margin: 0 1rem 1rem 0;
      display: inline-block;
      width: 100%;
      text-align: center;
      font-family: inter, sans-serif;
      font-weight: 900;
    } 
  }  

  @for $i from 1 through 36 { 
    div.-lesson:nth-child(#{$i}) {
      $h: (random(400) + 100) + px;
      height: $h;
      line-height: $h;
    }
  }  