/* * * * suisse * * * * */

@font-face {
  font-family: "suisse";
  src: url("/fonts/suisse.woff/SuisseEDUIntl-Regular-WebS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "suisse";
  src: url("/fonts/suisse.woff/SuisseEDUIntl-RegularItalic-WebS.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "suisse";
  src: url("/fonts/suisse.woff/SuisseEDUIntl-Bold-WebS.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "suisse";
  src: url("/fonts/suisse.woff/SuisseEDUIntl-BoldItalic-WebS.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}


  html {
    -webkit-overflow-scrolling: touch;
    overflow: scrolls;
  }
  body{
      margin: 0;
  }
  

  .show-sm     {display: none!important;}

  @media only screen and (max-width: 767px) {
    .hide-sm    {display: none!important;}
    .show-sm     {display: block!important;}
    .inline-show-sm     {display: inline-block!important;}
  }
  
  @media only screen and (max-width: 1023px) {
    .hide-md    {display: none;}
  }
  @media only screen and (min-width: 1024px) {
    .show-lg    {display: block;}
    .hide-lg    {display: none;}
  }

  .theme-1 {
    .primary-on-text { color: var(--theme-1-primary)!important;}
    .secondary-on-text { color: var(--theme-1-secondary)!important;}
    .tertiary-on-text { color: var(--theme-1-tertiary)!important; }

    .primary { background-color: var(--theme-1-primary)!important; color: white!important }
    .secondary { background-color: var(--theme-1-secondary)!important; color: white!important; }
    .tertiary { background-color: var(--theme-1-tertiary)!important; }
  }

  .theme-2 {
    .primary { background-color: var(--theme-2-primary)!important;color: white!important; }
    .secondary { background-color: var(--theme-2-secondary)!important;color: white!important; }
    .tertiary { background-color: var(--theme-2-tertiary)!important; }

    .primary-on-text { color: var(--theme-2-primary)!important;}
    .secondary-on-text { color: var(--theme-2-secondary)!important;}
    .tertiary-on-text { color: var(--theme-2-tertiary)!important; }
  }

  .theme-3 {
    .primary { background-color: var(--theme-3-primary)!important;color: white!important; }
    .secondary { background-color: var(--theme-3-secondary)!important;color: white!important; }
    .tertiary { background-color: var(--theme-3-tertiary)!important; }

    .primary-on-text { color: var(--theme-3-primary)!important;}
    .secondary-on-text { color: var(--theme-3-secondary)!important;}
    .tertiary-on-text { color: var(--theme-3-tertiary)!important; }  
  }

  .theme-4 {
    .primary { background-color: var(--theme-4-primary)!important;color: white!important; }
    .secondary { background-color: var(--theme-4-secondary)!important;color: white!important; }
    .tertiary { background-color: var(--theme-4-tertiary)!important; }

    .primary-on-text { color: var(--theme-4-primary)!important;}
    .secondary-on-text { color: var(--theme-4-secondary)!important;}
    .tertiary-on-text { color: var(--theme-4-tertiary)!important; }
  }

.hidden {
  visibility: hidden;
}

  

  // Info
  // https://css-tricks.com/practical-css-scroll-snapping/


