  body{
      margin: 0;
  }
  

  .show-sm     {display: none!important;}

  @media only screen and (max-width: 767px) {
    .hide-sm    {display: none!important;}
    .show-sm     {display: block!important;}
    .inline-show-sm     {display: inline-block!important;}
  }
  
  @media only screen and (max-width: 1023px) {
    .hide-md    {display: none;}
  }
  @media only screen and (min-width: 1024px) {
    .show-lg    {display: block;}
    .hide-lg    {display: none;}
  }

  .theme-1 {
    .primary { background-color: var(--theme-1-primary)!important; color: white!important }
    .secondary { background-color: var(--theme-1-secondary)!important; color: white!important; }
    .tertiary { background-color: var(--theme-1-tertiary)!important; }

  
  }

  .theme-2 {
    .primary { background-color: var(--theme-2-primary)!important;color: white!important; }
    .secondary { background-color: var(--theme-2-secondary)!important;color: white!important; }
    .tertiary { background-color: var(--theme-2-tertiary)!important; }

  }

  .theme-3 {
    .primary { background-color: var(--theme-3-primary)!important;color: white!important; }
    .secondary { background-color: var(--theme-3-secondary)!important;color: white!important; }
    .tertiary { background-color: var(--theme-3-tertiary)!important; }

  }
  

  // Info
  // https://css-tricks.com/practical-css-scroll-snapping/


